# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/dist/
/html/resources/dist/
/.DS_Store
/composer.lock
/vendor/
/composer.phar

# database
db/*
!db/.gitkeep

# redaxo config
html/redaxo/data/core/config.yml

# redaxo cache folder
html/redaxo/cache

# redaxo media files (except in subfolders)
html/media/*.*
