/* Style sheet to define the basic layout */

html, body{
    height:100%;
    min-height:100%;
    text-align:center;
    padding:0px 0 0 0;
}

header{
    position:fixed;
    top:0px;
    width:100%;
    box-sizing: border-box;
    border-top:solid 3px $base-green;
    text-align:center;
    height:43px;
    z-index:10;
}

.header-background{
    position:fixed;
    top:0px;
    background:$base-green;
    width:100%;
    height:43px;
    z-index:9;
    @include opacity(0);  
}

.header-wrapper{
    width:900px;
    display:inline-block;
    padding:0px;
    margin:0px;
    line-height: 0px;

    nav{
        width:540px;
        height:auto;
        padding:0px;
        margin:0px;
        display:inline-block;
        line-height: 0px;
        float: left;
    }

    a.logo{

        float: right;

        img{
            width:40px;
            height:40px;
        }
    }

    ul{
        width:100%;
        box-sizing: border-box;
        padding:0px;
        margin:0px;

        li{
            display:inline-block;
            width:33.3%;
            height:40px;
            
            &.communicative{
                background:$base-blue;
            }
            &.innovative{
                background:$base-yellow;
            }
            &.creative{
                background:$base-green;
            }
        }
    }
}

a.logo-transition{
    position:fixed;
    top:3px;
    width:84px;
    height:84px;
    right:50%;
    margin-right:-480px;
    z-index: 12;
    img{
        width:100%;
        height:100%;
    }
    
}

aside{
    position:fixed;
    top:89px;
    padding:10px 0;
    right:50%;
    margin-right:-480px;
    width:84px;
    height:auto;
    background:$base-white;
    @include opacity(0.5);

    nav{
        text-align: left;
        height:auto;

        ul{
            display:block;
        }

        li {
            display:block;
            float:none;
            padding:9px 0;

            a {
                box-sizing: border-box;
                color:$base-green;
                font-size: 0.7em;
                padding:0px 5px;
                font-weight:$bold;
                border-left: 2px transparent solid;
                line-height:0.8em;

                &:hover, &.active{
                    border-left: 2px $base-green solid;
                    background:none;
                    color:$base-green;
                }
            }
        }
    }
}

section{
    width:100%;
    box-sizing: border-box;
    background:$base-white;
    padding:40px 0;
}

.img-text-100{
    width:100%;
}

.img-text-90{
    width:90%;
}

.img-text-80{
    width:80%;
}

.img-text-70{
    width:70%;
}

.img-text-60{
    width:60%;
}

.img-text-20{
    width:20%;
}

p.small{
    font-size:0.8em;
    line-height: 1.2em;
}

.txt {
    padding:20px 0 0 0;
    p{
        font-size:0.8em;
        line-height: 1.4em;
        margin-bottom:10px;
    }
    i.material-icons{
        vertical-align:-2px;
    }
}

.vita{
    h1{
        font-size:1.8em;
        color:$base-green;
        padding-left:20px;
        &.gr{
            color:$base-grey
        }
    }
}

.usu-blue{
    color:#1d508f;
}

.col20{
    width:180px;
}

.col30{
    width:270px;
}

.col40{
    width:360px;
}

.col50{
    width:450px;
}

.col60{
    width:540px;
}

.col100{
    width:900px;
}

.col-full{
    width:100%;
}

.col{
    box-sizing: border-box;
    text-align:left;
    display:inline-block;
    vertical-align: top;
    margin:0px 0 -10px;
}

.info{
    text-align:center;
    h1{
        color:$base-blue;
        font-size:1.7em;
    }
}

a.btn{
    padding:10px 20px;
    @include border-radius(2px);
    background:$base-blue;
    height: auto;
    &:hover{
        color:$base-white;
        background:$base-blue;
        @include opacity(0.8em);
    }
}

p.arallax-container {
    height: 300px;
}

.parallax img{
    
}

.parallax-title{
    text-align: left;
    position:absolute;
    z-index:9;
    top:0px;
    left:50%;
    margin-left:-452px;
    padding: 250px 50px 50px 0px;
    // background: $base-white;
    @include opacity(1); 

    h1{
        font-size:3.2em;
        margin:0px;
        color:$base-black;
    }

    h2{
        font-size:2.2em;
        line-height:1.1em;
    }
}

.parallax-title-sub{
    text-align: right;
    position:absolute;
    z-index:9;
    bottom:3px;
    right:50%;
    margin-right:-455px;

    h1{
        font-size:5.2em;
        margin:0px;
        color:$base-black-light;
        @include opacity(0.9);
        line-height:0.5em;
    }
}

.separator {
    width: 100%;
    margin: 40px 0; 
    .bar {
        height: 10px;
        width: 150px;
        background:$base-blue;
        margin: 0 auto 0 auto; 
    }
}

footer{
    width:100%;
    box-sizing: border-box;
    height:350px;
    background:url(../assets/img/wolfgangkreis2.png) no-repeat $base-grey-light center;
    @include box-shadow(0px, 10px, 25px, -14px, $base-grey-medium, inset);
}

@media screen and (max-width: 992px) {

    header{
        .header-wrapper {
            width:100%;
            nav{
                width:calc(100% - 40px);
                box-sizing: border-box;
                padding: 0 20px;
            }
        }
        .logo{
            position:absolute;
            right:20px;
        }
    }
    .logo-transition{
        display:none;
    }
    .parallax-title{
        left:0px;
        margin-left:20px; 
    }
    .parallax-title-sub{
        right:0px;
        margin-right:20px; 
    }
    .col30, .col40, .col50, .col60, .col100{
        width:50%;
        box-sizing: border-box;
        padding:20px;
    }
    .media-hidden{
        display:none;
    }
    .empty{
        display:none;
    }
    p.small{
        font-size:1em;
    }
    .vita{
        .col60, .col40{
            width:100%;
            box-sizing: border-box;
            h1{
                text-align: center;
            }
        }
    }
}

@media only screen and (max-device-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5) and (min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) {
    header{
        .header-wrapper {
            width:100%;
            nav{
                width:calc(100% - 40px);
                box-sizing: border-box;
                padding: 0 20px;
            }
        }
        .logo{
            position:absolute;
            right:20px;
        }
    }
    .logo-transition{
        display:none;
    }
    .parallax-title{
        left:0px;
        margin-left:20px; 
    }
    .parallax-title-sub{
        right:0px;
        margin-right:20px; 
    }
    .col30, .col40, .col50, .col60, .col100{
        width:50%;
        box-sizing: border-box;
        padding:20px;
    }
    .media-hidden{
        display:none;
    }
    .empty{
        display:none;
    }
    p.small{
        font-size:1em;
    }
    .vita{
        .col60, .col40{
            width:100%;
            box-sizing: border-box;
            h1{
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .col20, .col30, .col40, .col50, .col60, .col100{
        width:100%;
        box-sizing: border-box;
        padding:20px;
        &.txt{
            p{
                font-size:1em;
            }
        }
    }
    h1{
        font-size:2em;
    }
    .info h1{
        font-size:1.5em;
    }
    .parallax-container h1 {
        font-size:2.3em;
    }
    .parallax-container h2 {
        font-size:1.9em;
    }
}

@media only screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 1.5) and (min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) {
    .col20, .col30, .col40, .col50, .col60, .col100{
        width:100%;
        box-sizing: border-box;
        padding:20px;
        &.txt{
            p{
                font-size:1em;
            }
        }
    }
}