/* Style sheet to define the basic font styles */

body{
	font-family: $base-font, $base-font-family;
	font-size:$base-font-size;
	line-height:$base-line-height;
	font-weight:$base-font-weight;
	color:$base-black-light;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include hyphens(auto);
}

h1{
	font-size: 2.5em;
	margin: 0 0 10px 0;
	display: block;
	line-height: 0.9em;
	color:$base-black-light;
	font-weight:$bold;
}

h2{
	font-weight: $regular;
	font-size: 1.9em;
	line-height: 1.2em;
	margin: 0 0 10px 0;
	letter-spacing: 0;
	color:$base-black-light;
}
	
p{
	padding:0px 0px 10px 0px;
	margin:0px;
}
	
b, strong{
	font-weight:$bold;
}
	
a{
	text-decoration:none;
	font-style:normal;
	font-weight:$regular;
	color:$base-blue;
	&:hover{
		text-decoration:none;
		color:$base-blue;
		@include opacity(0.8);
	};
}

label{
    font-size:0.8em;
    padding:0 5px;
    vertical-align: -1px;
}

nav{
	background-color:transparent;
	box-shadow:none;
}
