/* Style sheet to define vraiable values to be used across all files */

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Base Font
$base-font-family: sans-serif;
$base-font:"Istok Web";
$base-font-weight: $light;
$base-font-size: 18px;
$base-line-height: 26px;

// Corporate logo font
$coprorate-font-family: sans-serif;
$coprorate-font:"Istok Web";
$coprorate-font-weight: $regular;
$coprorate-font-size: 18px;
$coprorate-line-height: 26px;

// Colors
$base-black:#000000;
$base-black-light:#333333;

$base-white:#FFFFFF;
$base-white-medium:#EFF3F5;

$base-green:#63beb7;
$base-green-dark:#5ea8a2;
$ase-green-light:#eff8f8;
$base-yellow:#f4b926;
$base-blue:#00a2d9;
$base-blue-dark:#337ab7;
$base-grey:#808080;
$base-grey-medium:#adadad;
$base-grey-light:#e8ecec;